body
{
font-family: sans-serif;
background-color: antiquewhite; 

background-repeat: no-repeat;
background-size:auto;


}

nav
{

font-style::oblique;
margin:auto;
margin-top: 5px;
margin-bottom: 5px;
border-top-left-radius: 5px;
border-bottom-right-radius: 5px;
}

h1{
color: indigo;
text-align: center;
font-variant: small-caps;
text-shadow: 1px 1px white;
}

p{
text-indent: 35px;
text-align: center;
letter-spacing: -0.1px;
line-height: 150%;
}

.kepkeret {
width: 375px;
float: right;
text-align: center;
font-size: 75%;
padding: 0px 5px 5px;
margin-left: 10px;
background-image: url('fatyol.png');
border-radius: 25px;
overflow: hidden;
box-shadow: 10px 10px 10px gray;  
}

.kepkeret img{
width: 385px;
position: relative;
left: -5px;
}


a{
text-decoration: none;
font-family: sans-serif;
font-style: inherit;
color: black;
}
