head
{
    background-image: url("../IMG/pexels-mark-mccammon-2724749.jpg") ;
}

body
{
background-color: antiquewhite; 

background-repeat: no-repeat;
background-size:auto;
}

h1{
color: indigo;
text-align: center;
font-variant: small-caps;
text-shadow: 1px 1px white;
}

h2{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
h3{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: bold;

}

p{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-indent: 35px;
letter-spacing: -0.1px;
line-height: 120%;
}

.kepkeret {
width: 375px;
float: right;
text-align: center;
font-size: 75%;
padding: 0px 5px 5px;
margin-left: 10px;
background-image: url('fatyol.png');
border-radius: 25px;
overflow: hidden;
box-shadow: 10px 10px 10px gray;  
}

.kepkeret img
{
width: 385px;
position: relative;
left: -5px;
}


a
{
text-decoration: none;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: inherit;
color: black;
}

#logo
{
    margin-top: 50px;
    font-style: italic;
    font-size: 50px;
}
.img-fluid{
  max-width: 15%;
  max-height: auto;
}
.img-thumbnail{
  border: 1px;
}
#navbar {
  overflow: hidden;
}
#navbar a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size:20px;
        line-height: 25px;
        border-radius: 4px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      }
    
#navbar #logo {
        font-size: 40px;
        font-weight: bold;
        transition: 0.4s;
      }
    
#navbar a:hover {
        background-color: #ddd;
        color: black;
      }
    
#navbar a.active {
        background-color: rgb(218,165,0);
        color: white;
      }
    
#navbar-right {
        float: right;
      }

    
@media screen and (max-width: 300px) {
#navbar {
          padding: 20px 10px !important;
        }
    
 #navbar a {
          float: none;
          display: block;
          text-align: left;
        }
    
#navbar-right {
          float: none;
        }
      }
    
footer {
        text-align: center;
        width: 100%;
        padding: 3px;
        background-color: rgb(149, 52, 19);
        color: white;
      }
.col,half,.third,.twothird,.threequarter,.quarter {
  float:left;width:100%
}
.row-padding,.row-padding>.half,.row-padding>.third,.row-padding>.twothird,.row-padding>.threequarter,.row-padding>.quarter,.row-padding>.col {
  padding:0 8px
}

@media (min-width:601px){.col.m1{width:8.33333%}.col.m2{width:16.66666%}.col.m3,.quarter{width:24.99999%}.col.m4,.third{width:33.33333%}}

#team {
  background-color: rgba(199, 165, 165, 0.589);
  
}
.table{
text-align: center;
-ms-grid-column-align: stretch;
}
.responsive {
  width: 100%;
  height: auto;
  
}